<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th><%= link_to user.followings.count, user_followings_path(user.id) %></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%= link_to user.followers.count, user_followers_path(user.id) %></th>
  </tr>
</table>

<div class='row'>
  <% if user == current_user %>
    <%= link_to edit_user_path(user.id), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  <% else %>
    <% if current_user.following?(user) %>
      <%= link_to 'Unfollow', user_relationships_path(user.id),class:"btn btn-info ml-3", method: :delete %>
    <% else %>
      <%= link_to 'Follow', user_relationships_path(user.id),class:"btn btn-success ml-3", method: :post %>
    <% end %>

    <% if (current_user.following? user) && (user.following? current_user) %>
      <% if @isRoom == true %>
        <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary">チャットへ</a></p>
      <% else %>
        <%= form_with model: @room do |f| %>
          <%= fields_for @entry do |e| %>
            <%= e.hidden_field :user_id, value: user.id %>
          <% end %>
          <%= f.submit "チャットを始める", class:"btn btn-primary ml-2 user-show-chat" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>


</div>