<table class="table my-2">
  <tr>
    <th>今日の投稿数</th>
    <th></th>
    <th>前日の投稿数</th>
    <th></th>
    <th>前日比</th>
  </tr>
  <tr>
    <td><%= today_book.count %></td>
    <td></td>
    <td><%= yesterday_book.count %></td>
    <td></td>
    <td>
      <% if yesterday_book.count == 0 %>
        前日の投稿はなし
      <% else %>
        <%= (the_day_before * 100).round %>%
      <% end %>
    </td>
  </tr>
</table>
<table class="table">
  <tr>
    <th>今週の投稿数</th>
    <th></th>
    <th>前週の投稿数</th>
    <th></th>
    <th>前週比</th>
  </tr>
  <tr>
    <td><%= this_week_book.count %></td>
    <td></td>
    <td><%= last_week_book.count %></td>
    <td></td>
    <td>
      <% if last_week_book.count == 0 %>
        前週の投稿はなし
      <% else %>
        <%= (the_week_before * 100).round %>%
      <% end %>
    </td>
  </tr>
</table>
<h4>7日間分の投稿数</h4>
<table class="table table-bordered text-center">
  <tr>
    <th>６日前</th>
    <th>５日前</th>
    <th>４日前</th>
    <th>３日前</th>
    <th>２日前</th>
    <th>１日前</th>
    <th>今日</th>
  </tr>
  <tr>
    <% books.book_week_count.each do |c| %>
      <th><%= c %></th>
    <% end %>
    <th><%= today_book.count %></th>
  </tr>
</table>